// Imported Stylesheets
@import 'bootstrap.css'
@import 'bootstrap-theme.css'
@import '../fonts/open-sans/open-sans.css'
@import 'customize.styl'
@import 'nib/vendor'

vendor-prefixes = webkit moz o ms official

// Color Variables
white = #ffffff
black = #000000

// Font Variables

// Theme Styles